/* La page d'accueil */

.logo_index {
    max-width: 110px;
    margin: 40px auto;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 500px;
    height: auto;
    margin: 4em auto;
    padding: 30px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.title {
    color: #fe654f;
    font-weight: bold;
    font-size: 26px;
    padding: 10px 20px;
    margin: 10px 40px;
}

.inputs {
    color: rgb(38, 50, 56);
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 60px;
    margin: 10px 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.02);
}

#pass {
    margin-bottom: 25px;
}

.inputs:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.button {
    cursor: pointer;
    background: #fe654f;
    color: whitesmoke;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #fe654f;
}

#forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
}

.other_page {
    padding-top: 50px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    text-decoration: none;
    color: #fe654f;
}

/* La bar de navigation (le header) */

header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1% 2%;
}

.logo {
    max-width: 90px;
    margin-right: auto;
    cursor: pointer;
}

.nav_bar li,
.nav_bar a,
footer li,
footer a {
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    font-size: 16px;
    color: black;
}

.nav_bar li {
    display: inline-block;
}

.nav_bar li :hover,
.sub_menu li a :hover {
    transition: all 0.5s ease 0s;
    color: #fe654f;
}

.sub_menu {
    display: none;
}

.nav_bar li:hover .sub_menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
}

.sub_menu li {
    border-bottom: 2px solid #fe654f;
}

/* La section de presentation */

.main_2 {
    background-color: #ffffff;
    width: 90%;
    height: auto;
    margin: 2em auto;
    padding: 30px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.intro_gbaf,
#partenaires {
    margin: 0 5%;
    padding: 2% 0;
}

.intro_gbaf ul {
    margin: 1% 5%;
    padding: 1% 5%;
}

#illustration1 {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.connexion h1 {
    text-align: center;
    margin: 20px;
}

/* La section des partenaires */

.partenaire {
    border: #fe654f solid 2px;
    border-radius: 30px;
    display: grid;
    margin: 20px 100px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.logo_partenaire img {
    max-width: 150px;
}

.logo_partenaire {
    grid-area: 1 / 1 / 4 / 2;
}
.nom_partenaire {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 20px;
}
.contenu_partenaire {
    grid-area: 2 / 2 / 3 / 3;
}
.lireLaSuite_partenaire {
    grid-area: 3 / 2 / 4 / 3;
}

.button {
    background-color: #fe654f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* la page de chaque acteur */

.fiche_partenaire {
    display: flex;
    border: #fe654f solid 2px;
    border-radius: 30px;
    flex-direction: column;
    margin: 20px 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.tableau_de_bord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 2% 2%;
}

.comment_section {
    border: #fe654f solid 2px;
    border-radius: 30px;
    margin: 20px 20px;
    padding: 30px;
}

.new_comment {
    border: #fe654f solid 2px;
    border-radius: 30px;
    padding: 2% 5%;
    margin: 20px 0;
    text-align: center;
}

.comments {
    border: #fe654f solid 2px;
    border-radius: 30px;
    padding: 30px;
    margin: 20px 0;
}

.big_inputs {
    color: rgb(38, 50, 56);
    background: rgba(136, 126, 126, 0.04);
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    width: 100%;
    height: 120px;
}

.big_inputs:focus {
    border: 2px solid rgba(0, 0, 0, 0.18);
}

/* La pied de page (le footer) */

footer {
    display: flex;
    background-color: gray;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

footer li {
    display: inline-block;
    padding: 5px 20px;
}

footer li a:hover {
    transition: all 0.5s ease 0s;
    color: #fe654f;
}

/* La version mobile */

@media (max-width: 600px) {
    header {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .logo {
        max-width: 110px;
        margin: 20px auto;
    }

    .nav_bar li {
        max-width: 100%;
        margin: 0 15px;
    }

    .partenaire {
        border: #fe654f solid 2px;
        border-radius: 30px;
        display: grid;
        margin: 20px 50px;
        padding: 10px;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .logo_partenaire {
        grid-area: 1 / 1 / 2 / 2;
    }
    .nom_partenaire {
        grid-area: 2 / 1 / 3 / 2;
    }
    .contenu_partenaire {
        grid-area: 3 / 1 / 4 / 2;
    }
    .lireLaSuite_partenaire {
        grid-area: 4 / 1 / 5 / 2;
    }

    .tableau_de_bord {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        padding: 2% 5%;
    }

    .main {
        border-radius: 0px;
    }
}
